* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'helvetica';
}

@font-face {
    font-family: 'helvetica';
    src: url(../fonts/HelveticaNeue-Roman.otf);
}

@font-face {
    font-family: 'helvetica-light';
    src: url(../fonts/HelveticaNeue-Light.otf);
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

h2 {
    font-weight: 400;
    font-size: 54px;
    line-height: 111%;
    color: #fff;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 115%;
    color: #fff;
    text-shadow: 0 4px 200px 0 #000;
    font-family: 'montserrat';
}

.gold {
    color: #d8ba72;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.over_header {
    background: #1f2021;
    position: fixed;
    /* Фиксируем блок */
    top: 0;
    /* Прижимаем к верхнему краю */
    left: 0;
    /* Прижимаем к левому краю */
    width: 100%;
    /* Растягиваем на всю ширину */
    z-index: 1000;
}

.over_header_section {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.over_header_section_contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 83px;
}

.over_header_section_contacts_item {
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.over_header_section_contacts_item a {
    font-weight: 400;
    font-size: 18px;
    line-height: 91%;
    color: #d8ba72;
}

.over_header_section_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 38px;
}

.over_header_section_icons a {
    width: 19px;
    height: 19px;
}

@media (max-width: 430px) {
    .container {
        max-width: 375px;
        /* Уменьшаем ширину контейнера */
        padding: 0 10px;
        /* Уменьшаем отступы */
    }

    .over_header_section {
        height: auto;
        /* Автоматическая высота для мобильных */
        flex-direction: row;
        /* Элементы в колонку */
        gap: 10px;
        /* Отступ между элементами */
        padding: 10px 0;
        /* Отступы сверху и снизу */
    }

    .over_header_section_contacts {
        flex-direction: column;
        /* Контакты в колонку */
        gap: 10px;
        align-items: flex-start;
        /* Отступ между контактами */
    }

    .over_header_section_contacts_item {
        gap: 8px;
        /* Уменьшаем отступ между иконкой и текстом */
    }

    .over_header_section_contacts_item a {
        font-size: 16px;
        /* Уменьшаем размер текста */
    }

    .over_header_section_icons {
        gap: 20px;
        /* Уменьшаем отступ между иконками */
    }

    .over_header_section_icons img {
        width: 24px;
        /* Уменьшаем размер иконок */
        height: 24px;
    }
}

/*HEADER-BANNER*/
.header_banner {
    padding-top: 42px;
    position: relative;
    height: 940.5px;
    overflow: hidden; /* Скрываем всё, что выходит за пределы блока */
}

.background_zoom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../media/banner/banner.png) center/cover;
    transition: transform 0.5s ease; /* Плавное изменение масштаба */
    z-index: -1; /* Убедитесь, что фон находится под другими элементами */
}

.header_banner:hover .background_zoom {
    transform: scale(1.05); /* Увеличиваем фон на 10% */
}

.slider {
    position: absolute;
    bottom: 57px;
    left: 50%;
    transform: translateX(-50%);
    width: 517px;
    height: 7px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3.5px;
    overflow: hidden;
    z-index: 3;
}

.slider_progress {
    width: 256.884px;
    /* Начальная ширина прогресса */
    height: 7px;
    background: white;
    border-radius: 3.5px;
    transition: width 0.5s ease;
    /* Плавное изменение ширины */
}

.slider_indicators {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.slider_indicators .indicator {
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.slider_indicators .indicator.active {
    opacity: 1;
}


@media (max-width: 767px) {
    .slider {
        width: 80%;
        height: 5px;
        bottom: -7px;
    }

    .slider_progress {
        height: 5px;
    }

    .slider_indicators {
        top: 8px;
        gap: 6px;
    }

    .slider_indicators .indicator {
        width: 5px;
        height: 5px;
    }
}


/*HEADER-BANNER*/

/*header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: background 0.3s ease;
}

.header_background {
    width: 100%;
    background: linear-gradient(180deg, #000 13.72%, rgba(115, 115, 115, 0) 100%);
    position: fixed;
    top: 42px;
    left: 0;
    z-index: 999;
    padding-top: 30px;
    padding-bottom: 20px;
}

.header_container {
    max-width: 1300px;
    /* Ограничиваем ширину содержимого */
    width: 100%;
    margin: 0 auto;
    /* Выравниваем по центру */
    padding: 10px 20px;
}

.header .logo {
    width: 277px;
    height: 84px;
}

.header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.header nav a {
    font-weight: 400;
    font-size: 24px;
    line-height: 91%;
    color: #fff;
    text-transform: uppercase;
}

.header_button {
    width: 130px;
    height: 36px;
    background: rgba(216, 186, 114, 0.25);
    position: relative;
}

.header_button button {
    font-weight: 400;
    font-size: 24px;
    line-height: 91%;
    color: #d8ba72;
    background: none;
    border: none;
    padding: 11px 0px 0px 19px;
    position: relative;
    cursor: pointer;
}

.header_button_border {
    border: 1px solid #9a9a9a;
    width: 130px;
    height: 36px;
    position: absolute;
    top: 11%;
    right: -3%;
}

.burger_menu {
    display: none;
    /* Скрываем по умолчанию */
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.burger_menu span {
    width: 30px;
    height: 3px;
    background: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger_menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger_menu.active span:nth-child(2) {
    opacity: 0;
}

.burger_menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.adapt {
    display: none;
}

/* Адаптив для экранов 480px и меньше */
@media (max-width: 430px) {
    .header .logo {
        width: 216px;
        height: 65.5px;
    }

    .burger_menu {
        display: flex;
        right: 0;
        position: absolute;
        top: 31%;
        z-index: 1001;
    }

    .header_background {
        top: 64px;
    }

    .header_nav a,
    .header_button {
        display: none;
        /* Скрываем навигацию и кнопку CALL US по умолчанию */
    }

    .header_nav.active a {
        display: flex;
    }

    .header_nav.active .header_button {
        display: flex;
    }

    .header_nav.active {
        display: flex;
        /* Показываем навигацию при активном бургер-меню */
        flex-direction: column;
        gap: 20px;
        position: fixed;
        /* Используем fixed вместо absolute */
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /* Занимаем всю высоту экрана */
        background: #000;
        /* Черный фон */
        padding: 20px;
        z-index: 1000;
        overflow-y: auto;
        /* Добавляем прокрутку, если контент не помещается */
        justify-content: center;
        /* Выравниваем элементы по центру */
        align-items: center;
    }

    .header_nav {
        display: none;
        /* Скрываем навигацию по умолчанию */
        opacity: 0;
        /* Начальная прозрачность */
        transition: opacity 0.3s ease, transform 0.3s ease;
        /* Плавное появление */
        transform: translateY(-100%);
        /* Сдвигаем навигацию вверх */
    }

    .header_nav.active {
        display: flex;
        opacity: 1;
        /* Показываем навигацию */
        transform: translateY(0);
        /* Возвращаем навигацию на место */
    }

    .header_nav a {
        font-size: 18px;
        /* Уменьшаем размер текста */
    }
}

/*header*/

/*BANNER*/
.banner {
    padding-top: 250px;
}

.banner img {
    height: 43px;
    width: 100%;
}

.banner_consultation {
    position: absolute;
    right: 0;
    top: 39.5%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 874px;
    height: 432px;
    background: rgba(0, 0, 0, 0.5);
    padding: 39px 0px 0px 49px;
}

.banner_consultation_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.banner_consultation_title {
    width: 520px;
}

.banner_consultation_title h3 {
    font-size: 24px;
    text-align: center;
    color: #d8ba72;
}

.banner_consultation_title p {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    font-family: 'helvetica-light';
    text-align: center;
}

.banner_consultation form {
    width: 512px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.banner_consultation form input {
    border: 1px solid #d8ba72;
    width: 246px;
    height: 36px;
    background: none;
    font-size: 16px;
    line-height: 91%;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 9px;
}

.banner_consultation form textarea {
    border: 1px solid #d8ba72;
    width: 512px;
    height: 65px;
    font-size: 16px;
    background: none;
    line-height: 91%;
    color: rgba(255, 255, 255, 0.6);
    padding: 18px 0px 0px 10px;
}

.banner_consultation form .banner_form_button {
    width: 505px;
    height: 36px;
    background: rgba(216, 186, 114, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 5px;
}

.banner_consultation form .banner_form_button button {
    font-size: 24px;
    line-height: 91%;
    color: #d8ba72;
    background: none;
    border: none;
}

.banner_form_button_border {
    position: absolute;
    top: 11%;
    right: -1.1%;
    border: 1px solid #9a9a9a;
    width: 506px;
    height: 36px;
}

/*BANNER*/

@media (max-width: 430px) {
    .header_banner {
        height: auto;
        /* Автоматическая высота для мобильных */
        padding-top: 20px;
        /* Уменьшаем отступ сверху */
    }

    .banner {
        padding-top: 203px;
        padding-bottom: 16px;
    }

    .banner img {
        height: 14px;
        /* Автоматическая высота изображения */
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .banner_consultation {
        position: static;
        /* Убираем абсолютное позиционирование */
        width: 100%;
        /* Растягиваем на всю ширину */
        height: auto;
        /* Автоматическая высота */
        padding: 20px;
        /* Уменьшаем отступы */
        margin-top: 20px;
        /* Отступ сверху */
        background: rgba(0, 0, 0, 0.7);
        /* Затемненный фон */
    }

    .banner_consultation_title {
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .banner_consultation_title h3 {
        font-size: 20px;
        /* Уменьшаем размер заголовка */
    }

    .banner_consultation_title p {
        font-size: 16px;
        /* Уменьшаем размер текста */
    }

    .banner_consultation form {
        width: 100%;
        /* Растягиваем на всю ширину */
        gap: 10px;
        /* Уменьшаем отступы */
    }

    .banner_consultation form input {
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .banner_consultation form textarea {
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .banner_consultation form .banner_form_button {
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .banner_form_button_border {
        width: 100%;
        /* Растягиваем на всю ширину */
    }
}

/*CALL US*/
.call_us {
    background: url(../media/call_us/background.png);
    background-size: cover;
    display: flex;
    position: relative;
    height: 839px;
}

.call_us_section_text {
    width: 607px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 200px;
}

.call_us_image {
    position: absolute;
    right: 0;
    overflow: hidden;
}

.call_us_image img {
    transition: transform 0.5s ease;
    transform-origin: center;
    max-width: 100%;
    /* Ограничиваем ширину изображения */
    height: auto;
    /* Сохраняем пропорции */
}

.call_us_image:hover img {
    animation: pulse 1.5s infinite;
    /* Анимация при наведении */
}

@keyframes pulse {
    0% {
        transform: scale(1);
        /* Исходный размер */
    }

    50% {
        transform: scale(1.03);
        /* Увеличение на 3% */
    }

    100% {
        transform: scale(1);
        /* Возврат к исходному размеру */
    }
}

.call_us_section_button {
    position: relative;
    width: 130px;
    height: 36px;
    background: rgba(216, 186, 114, 0.25);
    padding: 9px 0px 0px 19px;
}

.call_us_section_button a {
    font-weight: 400;
    font-size: 24px;
    line-height: 91%;
    color: #d8ba72;
    position: relative;
}

.call_us_section_button_border {
    border: 1px solid #9a9a9a;
    width: 130px;
    height: 36px;
    position: absolute;
    top: 11%;
    right: -3%;
}




/*CALL US*/

/*GALLERY*/
.gallery {
    background: #313334;
    display: flex;
    position: relative;
    height: 865px;
    overflow: hidden; /* Скрываем части изображения, которые выходят за пределы блока */
}

.gallery_section {
    display: flex;
    justify-content: flex-end; /* Прижимаем содержимое к правому краю */
}

.gallery_section_text {
    width: 607px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    padding-top: 168px;
    text-align: end;
}

.gallery_image {
    position: absolute;
    left: 0;
    overflow: hidden;
}

.gallery_image img {
    transition: transform 0.5s ease;
    max-width: 100%; /* Ограничиваем ширину изображения */
    height: auto; /* Сохраняем пропорции */
    transform-origin: center; /* Увеличение от центра */
}

.gallery_image:hover img {
    animation: pulse 1.5s infinite; /* Анимация при наведении */
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Исходный размер */
    }
    50% {
        transform: scale(1.03); /* Увеличение на 3% */
    }
    100% {
        transform: scale(1); /* Возврат к исходному размеру */
    }
}

.gallery_section_button {
    position: relative;
    width: 130px;
    height: 36px;
    background: rgba(216, 186, 114, 0.25);
    padding: 10px 0px 0px 8px;
    text-align: center;
}

.gallery_section_button a {
    font-weight: 400;
    font-size: 24px;
    line-height: 91%;
    color: #d8ba72;
    position: relative;
}

.gallery_section_button_border {
    border: 1px solid #9a9a9a;
    width: 130px;
    height: 36px;
    position: absolute;
    top: 11%;
    right: -3%;
}

/* Медиа-запросы для адаптации */
@media screen and (max-width: 1850px) {
    .gallery {
        height: 680px; /* Уменьшаем высоту блока */
    }

    .gallery_image {
        width: 50%; /* Ограничиваем ширину изображения */
    }

    .gallery_section_text {
        padding-top: 61px; /* Уменьшаем отступ сверху */
    }
}

@media screen and (max-width: 1440px) {
    .gallery_image {
        width: 40%; /* Уменьшаем ширину изображения */
    }

    .gallery_section_text {
        width: 500px; /* Уменьшаем ширину текстового блока */
    }
}

@media screen and (max-width: 1024px) {
    .gallery_image {
        width: 30%; /* Уменьшаем ширину изображения */
    }

    .gallery_section_text {
        width: 400px; /* Уменьшаем ширину текстового блока */
        padding-top: 40px; /* Уменьшаем отступ сверху */
    }
}

@media screen and (max-width: 768px) {
    .gallery_image {
        width: 100%; /* Изображение занимает всю ширину */
        position: static; /* Убираем абсолютное позиционирование */
    }

    .gallery_section_text {
        width: 100%; /* Текстовый блок занимает всю ширину */
        padding-top: 20px; /* Уменьшаем отступ сверху */
        text-align: center; /* Выравниваем текст по центру */
        align-items: center; /* Выравниваем элементы по центру */
    }

    .gallery {
        height: auto; /* Высота блока автоматически подстраивается под контент */
        flex-direction: column; /* Меняем направление flex на вертикальное */
    }
}
@media screen and (max-width:1850px) {
    .call_us {
        height: 672px;
    }

    .call_us_image {
        width: 50%;
    }

    .call_us_section_text {
        padding-top: 143px;
    }

    /* .gallery_image {
        width: 50%;
    }

    .gallery {
        height: 680px;
    }

    .gallery_section_text {
        padding-top: 61px;
    } */
}

@media (max-width: 430px) {
    .call_us {
        height: auto;
        /* Автоматическая высота для мобильных */
        flex-direction: column;
        /* Элементы в колонку */
        padding: 20px 0;
        /* Отступы сверху и снизу */
    }

    .call_us_section_text h2 {
        font-size: 36px;
    }

    .gallery_section_text h2 {
        font-size: 36px;
    }

    .call_us_section_text p {
        font-size: 18px;
    }

    .gallery_section_text p {
        font-size: 18px;
    }

    .call_us_section_text {
        width: 100%;
        /* Растягиваем на всю ширину */
        padding-top: 50px;
        /* Уменьшаем отступ сверху */
        gap: 20px;
        /* Уменьшаем отступы */
        text-align: center;
        /* Выравниваем текст по центру */
    }

    .call_us_image {
        position: static;
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
    }

    .call_us_image img {
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .call_us_section_button {
        margin: 0 auto;
        /* Выравниваем кнопку по центру */
    }

    .gallery {
        height: auto;
        /* Автоматическая высота для мобильных */
        flex-direction: column-reverse;
        /* Элементы в колонку */
        padding: 20px 0;
        /* Отступы сверху и снизу */
    }

    .gallery_section {
        justify-content: center;
        /* Выравниваем содержимое по центру */
    }

    .gallery_section_text {
        width: 100%;
        /* Растягиваем на всю ширину */
        padding-top: 50px;
        /* Уменьшаем отступ сверху */
        gap: 20px;
        /* Уменьшаем отступы */
        text-align: center;
        /* Выравниваем текст по центру */
        align-items: center;
        /* Выравниваем элементы по центру */
    }

    .gallery_image {
        position: static;
        /* Убираем абсолютное позиционирование */
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;

    }

    .gallery_image img {
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .gallery_section_button {
        margin: 0 auto;
        /* Выравниваем кнопку по центру */
    }
}

/*GALLERY*/

/*ABOUT_US*/
.about_us {
    background: url(../media/about_us/background.png);
    background-size: cover;
    height: 1328px;
    padding: 94px 0px 126px 0px;
}

.about_us_section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about_us_section_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about_us_section_title p {
    width: 876px;
    font-family: 'helvetica';
}

.about_us_section_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about_us_section_content_part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 400px;
}

.about_us_section_content_part_number {
    color: #d8ba72;
}

.about_us_section_content_part h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 115%;
    color: #d8ba72;
    width: 371px;
}

.about_us_section_content_part p {
    text-align: justify;
    font-family: 'helvetica';
    line-height: 115%;
    font-weight: 400;
}

.about_us_line {
    position: relative;
}

.about_us_line::after {
    content: "";
    position: absolute;
    border: 1px solid #d8ba72;
    width: 440px;
    height: 0px;
    transform: rotate(90deg);
    top: 50%;
    left: 49%;
}

.about_us_line_second {
    position: relative;
}

.about_us_line_second::after {
    content: "";
    position: absolute;
    border: 1px solid #d8ba72;
    width: 440px;
    height: 0px;
    transform: rotate(90deg);
    top: 53%;
    left: 49%;
}

.about_us_section_clients {
    margin-top: 70px;
    width: 100%;
    height: 386px;
    border: 3px solid #d8ba72;
    padding: 29px 75px 0px 27px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.about_us_section_clients h4 {
    font-size: 32px;
    line-height: 111%;
    color: #fff;
    font-weight: 400;
    width: 296px;
}

.clients_gold {
    color: #d8ba72;
}

.about_us_section_clients_cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.about_us_section_clients_card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 19px;
}

.about_us_section_clients_card p {
    font-size: 28px;
    line-height: 122%;
    font-family: 'helvetica-light';
    font-weight: 400;

}

.about_us_section_clients_card .clients_card_number {
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: #d8ba72;
    width: 18px;
}

.about_us_section_content_part p,
.about_us_section_content_part h4 {
    opacity: 0;
    /* Изначально текст невидим */
    transform: translateY(20px);
    /* Сдвигаем текст вниз */
    transition: opacity 0.8s ease, transform 0.8s ease;
    /* Плавное появление */
}

/* Класс для анимации */
.about_us_section_content_part.visible p,
.about_us_section_content_part.visible h4 {
    opacity: 1;
    /* Текст становится видимым */
    transform: translateY(0);
    /* Возвращаем текст на место */
}

.about_us_section_content_part.visible p {
    transition-delay: 0.2s;
    /* Задержка для текста */
}

.about_us_section_content_part.visible h4 {
    transition-delay: 0.4s;
    /* Задержка для заголовка */
}

@media (max-width:430px) {
    .about_us {
        background: url(../media/about_us/background.png);
        background-size: cover;
        height: auto;
        /* Автоматическая высота для мобильных */
        padding: 40px 0;
        /* Уменьшаем отступы */
    }

    .about_us_section {
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* Уменьшаем отступы */
    }

    .about_us_section_title {
        display: flex;
        flex-direction: column;
        /* Элементы в колонку */
        gap: 20px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
        text-align: center;
        /* Текст по центру */
    }

    .about_us_section_title p {
        width: 100%;
        /* Растягиваем на всю ширину */
        font-family: 'helvetica';
        font-size: 16px;
        /* Уменьшаем размер текста */
    }

    .about_us_section_content {
        display: flex;
        flex-direction: column;
        /* Элементы в колонку */
        gap: 30px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
    }

    .about_us_section_content_part {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Выравниваем по центру */
        gap: 10px;
        width: 100%;
        /* Растягиваем на всю ширину */
        text-align: center;
        /* Текст по центру */
    }

    .about_us_section_content_part_number {
        color: #d8ba72;
        font-size: 24px;
        /* Уменьшаем размер текста */
    }

    .about_us_section_content_part h4 {
        font-weight: 400;
        font-size: 24px;
        /* Уменьшаем размер текста */
        line-height: 115%;
        color: #d8ba72;
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .about_us_section_content_part p {
        text-align: center;
        /* Текст по центру */
        font-family: 'helvetica';
        line-height: 115%;
        font-weight: 400;
        font-size: 16px;
        /* Уменьшаем размер текста */
    }

    .about_us_line::after,
    .about_us_line_second::after {
        display: none;
        /* Убираем линии на мобильных */
    }

    .about_us_section_clients {
        margin-top: 40px;
        /* Уменьшаем отступ */
        width: 100%;
        /* Растягиваем на всю ширину */
        height: auto;
        /* Автоматическая высота */
        border: 3px solid #d8ba72;
        padding: 20px;
        /* Уменьшаем отступы */
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
        text-align: center;
        /* Текст по центру */
    }

    .about_us_section_clients h4 {
        font-size: 24px;
        /* Уменьшаем размер текста */
        line-height: 111%;
        color: #fff;
        font-weight: 400;
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .clients_gold {
        color: #d8ba72;
    }

    .about_us_section_clients_cards {
        display: flex;
        flex-direction: column;
        /* Элементы в колонку */
        gap: 20px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
    }

    .about_us_section_clients_card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        /* Уменьшаем отступы */
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .about_us_section_clients_card p {
        font-size: 16px;
        /* Уменьшаем размер текста */
        line-height: 122%;
        font-family: 'helvetica-light';
        font-weight: 400;
    }

    .about_us_section_clients_card .clients_card_number {
        font-weight: 400;
        font-size: 16px;
        /* Уменьшаем размер текста */
        line-height: 115%;
        color: #d8ba72;
        width: 18px;
    }

    /* Анимация для текста */
    .about_us_section_content_part p,
    .about_us_section_content_part h4 {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .about_us_section_content_part.visible p,
    .about_us_section_content_part.visible h4 {
        opacity: 1;
        transform: translateY(0);
    }

    .about_us_section_content_part.visible p {
        transition-delay: 0.2s;
    }

    .about_us_section_content_part.visible h4 {
        transition-delay: 0.4s;
    }
}

/*ABOUT_US*/

/*OUR_PROJECTS*/
.our_projects {
    background-color: #313334;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_projects_section {
    display: flex;
    flex-direction: column;
    gap: 103px;
}

.our_projects_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.our_projects_title_text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 940px;
}

.our_projects_title_text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 111%;
    text-align: justify;
    color: #fff;
    font-family: 'helvetica';
}

.our_projects_title_text .gold {
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-align: justify;
    color: #d8ba72;
}

.our_projects_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our_projects_filter {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.our_projects_filter_link {
    position: relative;
}

.our_projects_filter_link a {
    font-weight: 400;
    font-size: 24px;
    line-height: 91%;
    color: #fff;
    font-family: 'helvetica';
    padding: 8px 10px 3px 20px;
    background: rgba(216, 186, 114, 0.25);
    position: relative;
}

.our_projects_filter_link .all {
    position: absolute;
    border: 1px solid #fff;
    width: 149px;
    height: 32px;
    top: -3px;
    left: 5px;
}

.our_projects_filter_link .fireplaces {
    position: absolute;
    border: 1px solid #fff;
    width: 140px;
    height: 32px;
    top: -3px;
    left: 5px;
}

.our_projects_filter_link .bathrooms {
    position: absolute;
    border: 1px solid #fff;
    top: -3px;
    left: 5px;
    width: 148px;
    height: 32px;
}

.our_projects_filter_link .kitchens {
    position: absolute;
    border: 1px solid #fff;
    top: -3px;
    left: 5px;
    width: 124px;
    height: 32px;
}

.our_projects_filter_link .custom {
    position: absolute;
    border: 1px solid #fff;
    top: -3px;
    left: 5px;
    width: 209px;
    height: 32px;
}

.our_projects_filter_link .gold {
    color: #d8ba72;
}

.our_projects_cards_container {
    width: 100%;
    overflow: hidden;
    /* Скрываем карточки, которые выходят за пределы */
    position: relative;
    max-width: 1600px;
}

.our_projects_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 63px;
    transition: transform 0.5s ease;
}

.our_projects_card {
    flex-shrink: 0;
}


.our_projects_filter_link a.active {
    color: #d8ba72;
}

.our_projects_filter_link .all.active {
    border: 1px solid #d8ba72;
}

.our_projects_filter_link .fireplaces.active {
    border: 1px solid #d8ba72;
}

.our_projects_filter_link .bathrooms.active {
    border: 1px solid #d8ba72;
}

.our_projects_filter_link .kitchens.active {
    border: 1px solid #d8ba72;
}

.our_projects_filter_link .custom.active {
    border: 1px solid #d8ba72;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px); /* Сдвигаем блок вниз */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Возвращаем блок на место */
    }
}

/* Класс для анимации */
.animate-fadeInUp {
    animation: fadeInUp 1s ease-out forwards;
}

/* Изначально скрываем блок */
.our_projects_animation {
    opacity: 0;
    transform: translateY(50px);
}

@media (max-width: 430px) {

    .our_projects {
        padding: 40px 0;
        /* Уменьшаем отступы */
    }

    .our_projects_section {
        gap: 50px;
        /* Уменьшаем отступы */
    }

    .our_projects_title {
        display: flex;
        flex-direction: column;
        /* Элементы в колонку */
        gap: 20px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
        text-align: center;
        /* Текст по центру */
    }

    .our_projects_title_text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* Уменьшаем отступы */
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .our_projects_title_text p {
        font-weight: 400;
        font-size: 16px;
        /* Уменьшаем размер текста */
        line-height: 111%;
        text-align: center;
        /* Текст по центру */
        color: #fff;
        font-family: 'helvetica';
    }

    .our_projects_title_text .gold {
        font-weight: 400;
        font-size: 14px;
        /* Уменьшаем размер текста */
        line-height: 110%;
        text-align: center;
        /* Текст по центру */
        color: #d8ba72;
    }

    .our_projects_nav {
        display: flex;
        flex-direction: column;
        /* Элементы в колонку */
        gap: 20px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
    }

    .our_projects_filter {
        display: flex;
        flex-direction: column;
        /* Элементы в колонку */
        gap: 10px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
    }

    .our_projects_filter_link {
        position: relative;
    }

    .our_projects_filter_link a {
        font-weight: 400;
        font-size: 18px;
        /* Уменьшаем размер текста */
        line-height: 91%;
        color: #fff;
        font-family: 'helvetica';
        padding: 8px 15px;
        /* Уменьшаем отступы */
        background: rgba(216, 186, 114, 0.25);
        position: relative;
        display: inline-block;
        /* Для корректного отображения */
    }

    .our_projects_filter_link .gold {
        color: #d8ba72;
    }

    .our_projects_cards {
        display: flex;
        gap: 20px;
        margin-top: 30px;
        align-items: center;
    }

    .our_projects_cards img {
        width: 100%;
        /* Растягиваем на всю ширину */
        max-width: 300px;
        /* Ограничиваем максимальную ширину */
        height: auto;
        /* Сохраняем пропорции */
    }

    .our_projects {
        padding: 20px 0;
        /* Уменьшаем отступы */
    }

    .our_projects_section {
        gap: 30px;
        /* Уменьшаем отступы */
    }

    .our_projects_title_text p {
        font-size: 14px;
        /* Уменьшаем размер текста */
    }

    .our_projects_title_text .gold {
        font-size: 12px;
        /* Уменьшаем размер текста */
    }

    .our_projects_filter_link a {
        font-size: 16px;
        padding: 6px 12px;
    }

    .our_projects_filter_link .all {
        width: 104px;
        height: 25px;
        top: 2px;
        left: 5px;
    }

    .our_projects_filter_link .fireplaces {
        width: 98px;
        height: 25px;
        top: 2px;
        left: 5px;
    }

    .our_projects_filter_link .bathrooms {
        top: 2px;
        left: 5px;
        width: 103px;
        height: 25px;
    }

    .our_projects_filter_link .kitchens {
        top: 2px;
        left: 5px;
        width: 87px;
        height: 25px;
    }

    .our_projects_filter_link .custom {
        top: 0px;
        left: 5px;
        width: 144px;
        height: 26px;
    }

    .our_projects_cards {
        gap: 15px;
        margin-top: 20px;
    }

    .our_projects_cards img {
        max-width: 100%;
    }
}

@media screen and (max-width:1550px) {
    .our_projects_cards img {
        width: 100%;
        max-width: 330px;
        height: auto;
    }
}

/*OUR_PROJECTS*/

/*OUR_PARTNERS*/
.our_partners {
    background-color: #313334;
    padding-top: 120px;
}

.our_partners_section {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.our_partners_section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our_partners_section_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.our_partners_section_card {
    border: 1px solid #fff;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.our_partners_section_title_arrows {
    display: flex;
    flex-direction: row;
    gap: 21px;
    align-items: center;
}

.our_partners_section_title_arrow {
    position: relative;
}

.our_partners_section_title_arrow_border {
    position: absolute;
    top: 12%;
    right: -9%;
    border: 1px solid #fff;
    width: 54px;
    height: 34px;
}

.our_partners_section_title_arrows button {
    width: 54px;
    height: 34px;
    background: rgba(216, 186, 114, 0.25);
    border: none;
    color: #fff;
    padding: 10px 0px 0px 5px;
    position: relative;
    cursor: pointer;
}

.our_partners_section_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    transition: transform 0.5s ease;
    /* Плавный переход */
}

/*OUR_PARTNERS*/

/*OUR_REVIEWS*/
.our_reviews {
    padding-top: 120px;
    background-color: #313334;
}

.reviews_section {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.reviews_section_slider {
    display: flex;
    flex-direction: row;
    gap: 27px;
    align-items: center;
    overflow: hidden;
    /* Скрываем карточки, которые выходят за пределы контейнера */
    width: 100%;
    position: relative;
    /* Для позиционирования контейнера с карточками */
}

.reviews_section_slider_cards_container {
    display: flex;
    flex-direction: row;
    gap: 27px;
    transition: transform 0.5s ease;
    /* Плавный переход */
}

.reviews_section_slider_card {
    width: 634px;
    height: 318px;
    background: #2a2b2c;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 36px 0px 25px;
    flex-shrink: 0;
    /* Запрещаем карточкам сжиматься */
}

.reviews_section_slider_card .reviews_content {
    font-weight: 400;
    font-size: 24px;
    line-height: 115%;
    color: #fff;
    font-family: 'helvetica';
    width: 568px;
}

.reviews_section_slider_card_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews_slider_card_title_person {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.reviews_slider_card_title_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews_slider_card_title_info h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 112%;
    color: #fff;
}

.reviews_slider_card_title_info p {
    font-weight: 400;
    font-size: 20px;
    line-height: 112%;
    color: rgba(255, 255, 255, 0.5);
}

.reviews_section_slider_card button {
    background: none;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 111%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: justify;
    color: #d8ba72;
    cursor: pointer;
}

@media (max-width:430px) {
    .our_partners_section_title {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

}

/*OUR_REVIEWS*/


/*FAQ*/
.faq {
    background-color: #313334;
    padding-top: 120px;
    position: relative;
}

.faq_section {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.faq_section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_section_title_button {
    position: relative;
}

.faq_section_title_button_border {
    position: absolute;
    border: 1px solid #9a9a9a;
    width: 154px;
    height: 36px;
    top: -25%;
    right: -5%;
}

.faq_section_title_button a {
    width: 154px;
    height: 36px;
    background: rgba(216, 186, 114, 0.25);
    font-size: 24px;
    line-height: 91%;
    color: #d8ba72;
    font-weight: 400;
    border: none;
    padding: 10px 5px 8px 13px;
    position: relative;
}

.faq_section_content {
    display: flex;
    justify-content: space-between;
}

.faq_section_faqs {
    display: flex;
    flex-direction: column;
    gap: 76px;
    width: 702px;
}

.faq_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.faq_header::after {
    content: "";
    position: absolute;
    border: 0.5px solid #fff;
    width: 702px;
    height: 0px;
    bottom: -100%;
}

.faq_section_faq .faqs {
    font-weight: 400;
    font-size: 20px;
    line-height: 122%;
    text-align: justify;
    color: #fff;
    font-family: 'helvetica';
}

.faq_section_faq .faqs_arrow {
    transform: rotate(90deg);
}


.faq_section_content_images img {
    position: absolute;
    right: 11%;
    top: 31%;

}

.faq_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.faq_section_faq.active .faq_content {
    max-height: 300px;
    /* Увеличь это значение, если ответы длинные */
}

.faq_section_faq .faq_content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 122%;
    text-align: justify;
    color: #fff;
    font-family: 'helvetica';
    padding-top: 20px;
}

.faq_section_faq.active .faqs_arrow {
    transform: rotate(90deg);
    color: #d8ba72;
}

.faq_section_faq.active .faqs {
    color: #d8ba72;
}

.faq_section_faq.active .faq_header::after {
    border: 0.5px solid #d8ba72;
    bottom: -360%;
}

.faqs_arrow {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.faq_section_faq.active .faq_content {
    max-height: 300px; /* Увеличь это значение, если ответы длинные */
}

.faq_section_faq.active .faqs_arrow {
    transform: rotate(270deg); /* Стрелка поворачивается вниз */
    color: #d8ba72; /* Цвет стрелки */
}

.faq_section_faq.active .faqs {
    color: #d8ba72; /* Цвет текста вопроса */
}

.faq_section_faq.active .faq_header::after {
    border: 0.5px solid #d8ba72; /* Цвет линии под вопросом */
    bottom: -360%; /* Позиция линии */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px); /* Сдвигаем блок вниз */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Возвращаем блок на место */
    }
}

/* Класс для анимации */
.animate-fadeInUp {
    animation: fadeInUp 1s ease-out forwards;
}

/* Изначально скрываем текстовый контент */
.faq_section_faqs {
    opacity: 0;
    transform: translateY(50px);
}

/* Стили для изображения */
.faq_section_content_images img {
    position: absolute;
    right: 11%;
    top: 31%;
    opacity: 1; /* Убедимся, что изображение видимо */
    transform: translateY(0); /* Убедимся, что изображение не сдвинуто */
}

/* Применяем анимацию только к текстовому контенту */
.faq_section_faqs.animate-fadeInUp {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width:430px) {
    .faq_section_content_images {
        display: none;
    }

    .faq {
        padding-top: 60px;
        /* Уменьшаем отступ сверху */
    }

    .faq_section {
        gap: 30px;
        /* Уменьшаем отступы */
    }

    .faq_section_title {
        display: flex;
        flex-direction: column;
        /* Элементы в колонку */
        gap: 20px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
        text-align: center;
        /* Текст по центру */
    }

    .faq_section_content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin-top: 20px;
    }

    .faq_section_faqs {
        gap: 30px;
        width: 100%;
    }


    .faq_header::after {
        width: 100%;
        height: 0px;
        bottom: -13px;
    }

    .faq_section_faq .faqs {
        font-weight: 400;
        font-size: 18px;
    }

    .faq_section_faq .faqs_arrow {
        font-size: 24px;
    }

    .faq_section_content_images img {
        display: none;
    }

    .faq_section_faq.active .faq_content {
        max-height: 300px;
    }

    .faq_section_faq .faq_content p {
        font-size: 16px;
        padding-top: 10px;
    }

    .faq_section_faq.active .faq_header::after {
        border: 0.5px solid #d8ba72;
        bottom: -67px;
    }

    .faq {
        padding-top: 40px;
    }

    .faq_section {
        gap: 20px;
    }

    .faq_section_title_button button {
        font-size: 18px;
        padding: 6px 0px 0px 1px;
    }

    .faq_section_faq .faqs {
        font-size: 16px;
        width: 330px;
        /* Уменьшаем размер текста */
    }

    .faq_section_faq .faq_content p {
        font-size: 14px;
        /* Уменьшаем размер текста */
    }

    .faq_section_faq.active .faq_content {
        max-height: 500px;
        /* Увеличь это значение, если ответы длинные */
    }

}

@media screen and (max-width:1550px) {
    .faq_section_content_images img {
        position: absolute;
        right: 3%;
        top: 30%;
        width: 39%;
    }
}

/*FAQ*/

/*SERVICE*/
.service {
    background-color: #313334;
    padding: 145px 0px 120px 0px;
}

.service_section {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.service_section_blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.service_section_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.service_section_block_part {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.service_section_block_part p {
    font-weight: 400;
    font-size: 20px;
    line-height: 122%;
    text-align: justify;
    color: #fff;
    font-family: 'helvetica';
}

@media (max-width: 430px) {
    .service {
        padding: 145px 0px 70px 0px;
    }

    .service_section_blocks {
        flex-wrap: wrap; /* Перенос блоков на новую строку */
        gap: 20px; /* Расстояние между блоками */
    }

    .service_section_block {
        width: 45%; /* Устанавливаем одинаковую ширину для блоков */
        gap: 16px; /* Уменьшаем расстояние между элементами */
    }

    .service_section_block_part {
        gap: 8px; /* Уменьшаем расстояние между иконкой и текстом */
    }

    .service_section_block_part p {
        font-size: 16px; /* Уменьшаем размер текста */
        text-align: left; /* Выравниваем текст по левому краю */
    }
}

/*SERVICE*/

/*CONTACTS*/
.contacts {
    background-color: #313334;
    padding-bottom: 120px;
}

.contacts_section {
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.contacts_section_form form {
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: center;
}

.contacts_section_form form input {
    border: 1px solid #d8ba72;
    width: 298px;
    height: 36px;
    padding: 0px 0px 0px 8px;
    background: none;
    font-family: 'helvetica';
    font-weight: 400;
    font-size: 16px;
    line-height: 91%;
    color: rgba(255, 255, 255, 0.6);
}

.contacts_section_form_button {
    position: relative;
}

.contacts_section_form_button_border {
    position: absolute;
    border: 1px solid #9a9a9a;
    width: 287px;
    height: 32px;
    top: 11%;
    right: -3%;
}

.contacts_section_form_button button {
    font-weight: 400;
    font-size: 24px;
    line-height: 91%;
    color: #d8ba72;
    width: 287px;
    height: 32px;
    background: rgba(216, 186, 114, 0.25);
    border: none;
    padding: 8px 0px 0px 11px;
}

.contacts_section_icons {
    display: flex;
    flex-direction: row;
    gap: 86px;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 76px;
}

.contacts_section_icons .irbis_background {
    position: absolute;
    right: 0;
    top: -20%;
}

.contacts_section_content {
    display: flex;
    justify-content: space-between;
}

.contacts_section_content_part {
    display: flex;
    flex-direction: column;
}

.contacts_section_content_part p {
    font-weight: 400;
    font-size: 24px;
    line-height: 122%;
    font-family: 'helvetica';
}

@media (max-width:430px) {
    .contacts {
        padding-bottom: 60px;
        /* Уменьшаем отступ снизу */
    }

    .contacts_section {
        gap: 30px;
        /* Уменьшаем отступы */
    }

    .contacts_section h2 {
        text-align: center;
        /* Выравниваем заголовок по центру */
        font-size: 32px;
        /* Уменьшаем размер заголовка */
    }

    .contacts_section_form form {
        display: flex;
        flex-direction: column;
        /* Элементы в колонку */
        gap: 20px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
    }

    .contacts_section_form form input {
        border: 1px solid #d8ba72;
        width: 100%;
        /* Растягиваем на всю ширину */
        max-width: 300px;
        /* Ограничиваем максимальную ширину */
    }

    .contacts_section_form_button {
        position: relative;
        width: 100%;
        /* Растягиваем на всю ширину */
        max-width: 300px;
        /* Ограничиваем максимальную ширину */
    }

    .contacts_section_form_button_border {
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .contacts_section_form_button button {
        font-size: 18px;
        /* Уменьшаем размер текста */
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    .contacts_section_icons {
        gap: 20px;
        /* Уменьшаем отступы */
        padding-top: 40px;
        /* Уменьшаем отступ сверху */
        justify-content: center;
        /* Выравниваем по центру */
    }

    .contacts_section_icons .irbis_background {
        display: none;
        /* Скрываем фоновое изображение на мобильных */
    }

    .contacts_section_content {
        flex-direction: column;
        /* Элементы в колонку */
        gap: 20px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
        text-align: center;
        /* Текст по центру */
    }

    .contacts_section_content_part {
        gap: 10px;
        /* Уменьшаем отступы */
    }

    .contacts_section_content_part p {
        font-size: 18px;
        /* Уменьшаем размер текста */
    }

    .contacts {
        padding-bottom: 40px;
        /* Уменьшаем отступ снизу */
    }

    .contacts_section h2 {
        font-size: 24px;
        /* Уменьшаем размер заголовка */
    }

    .contacts_section_form form input {
        font-size: 14px;
        /* Уменьшаем размер текста */
    }

    .contacts_section_form_button button {
        font-size: 16px;
        /* Уменьшаем размер текста */
    }

    .contacts_section_icons {
        gap: 10px;
        /* Уменьшаем отступы */
        padding-top: 20px;
        /* Уменьшаем отступ сверху */
    }

    .contacts_section_content_part p {
        font-size: 16px;
        /* Уменьшаем размер текста */
    }

}

/*CONTACTS*/

/*FOOTER*/
footer {
    background-color: #313334;
    padding-bottom: 48px;
}

.footer_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer_section_contact {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer_section_contact p {
    font-weight: 400;
    font-size: 20px;
    line-height: 122%;
    text-align: justify;
    color: rgba(216, 186, 114, 0.5);
    font-family: 'helvetica';
}

.footer_section_contact_logo {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: flex-end;
}

.footer_section_form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_section_form p {
    font-weight: 400;
    font-size: 20px;
    line-height: 111%;
    color: #d8ba72;
    font-family: 'helvetica';
}

.footer_section_form form {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.footer_section_form form input {
    border: 1px solid rgba(216, 186, 114, 0.5);
    width: 421px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: rgba(255, 255, 255, 0.5);
    background: none;
    padding-left: 15px;
}

.footer_section_form_button {
    position: relative;
}

.footer_section_form_button button {
    font-weight: 400;
    font-size: 24px;
    line-height: 91%;
    color: #d8ba72;
    width: 154px;
    height: 32px;
    background: rgba(216, 186, 114, 0.25);
    border: none;
    padding-top: 10px;
}

.footer_section_form_button_border {
    position: absolute;
    top: 11%;
    right: -3%;
    border: 1px solid #9a9a9a;
    width: 154px;
    height: 32px;
}

@media (max-width:430px) {
    footer {
        padding-bottom: 30px;
        /* Уменьшаем отступ снизу */
    }

    .footer_section {
        flex-direction: column;
        /* Элементы в колонку */
        gap: 30px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
        text-align: center;
        /* Текст по центру */
    }

    .footer_section_contact {

        flex-direction: column;
        /* Элементы в колонку */
        gap: 20px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
    }

    .footer_section_contact p {
        font-size: 16px;
        /* Уменьшаем размер текста */
        text-align: center;
        /* Текст по центру */
    }

    .footer_section_contact_logo {
        gap: 10px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
    }

    .footer_section_form {
        gap: 20px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
    }

    .footer_section_form p {
        font-size: 18px;
        /* Уменьшаем размер текста */
        text-align: center;
        /* Текст по центру */
    }

    .footer_section_form form {
        flex-direction: column;
        /* Элементы в колонку */
        gap: 15px;
        /* Уменьшаем отступы */
        align-items: center;
        /* Выравниваем по центру */
    }

    .footer_section_form form input {
        border: 1px solid rgba(216, 186, 114, 0.5);
        width: 100%;
        /* Растягиваем на всю ширину */
        max-width: 300px;
        /* Ограничиваем максимальную ширину */
        font-size: 14px;
        /* Уменьшаем размер текста */
        padding-left: 10px;
        /* Уменьшаем отступы */
    }

    .footer_section_form_button {
        width: 100%;
        /* Растягиваем на всю ширину */
        max-width: 300px;
        /* Ограничиваем максимальную ширину */
    }

    .footer_section_form_button button {
        font-size: 18px;
        /* Уменьшаем размер текста */
        width: 100%;
        /* Растягиваем на всю ширину */
        padding-top: 8px;
        /* Уменьшаем отступы */
    }

    .footer_section_form_button_border {
        width: 100%;
        /* Растягиваем на всю ширину */
    }

    footer {
        padding-bottom: 20px;
        /* Уменьшаем отступ снизу */
    }

    .footer_section_contact p {
        font-size: 14px;
        /* Уменьшаем размер текста */
    }

    .footer_section_form p {
        font-size: 16px;
        /* Уменьшаем размер текста */
    }

    .footer_section_form form input {
        font-size: 12px;
        /* Уменьшаем размер текста */
    }

    .footer_section_form_button button {
        font-size: 16px;
        /* Уменьшаем размер текста */
    }

}

/*FOOTER*/